//bootstrap import
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;900&display=swap');


/* SCSS HEX */

$warning:#EDB518;
$firebrick: #79031D;
$dark:#000407;
$snow: #F5F7F7;

$theme-colors:(
  "warning":#EDB518,
  "dark":#000407
)


$mainHeight : calc(100vh - 125px );

html, body {
  overflow-x:hidden;
  max-width: 100%;
}

body {
  background-color:$firebrick;
  color:$snow;
  font-weight:600;
  font-size: 16px;
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
}
.darky {
  background-color:$dark;
  color:$snow;
}

header {
  grid-area: header;
}
main{
  grid-area: main;
  background-image: url("../img/heroePic.png");
  background-repeat: no-repeat;
  background-position: -65%;
}
footer {
  grid-area: footer;
  display:flex;
  align-items: center;
  justify-content: center;
}

.grid{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px $mainHeight 75px;
  grid-template-areas: 
  "header"
  "main"
  "footer";
}
h1,h2,h3,h4 {
  font-weight: 900;
  line-height:0.8;
}
h1{
  font-size: 8rem;
}
h3{
  font-size:2rem;
}
.heroText {
  color:transparent;
  -webkit-text-stroke: 1px $snow;
}

.btn{
  font-weight: 600;
}

@media(max-height:768px){
  .grid{ 
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px $mainHeight 75px;
    grid-template-areas: 
      "header header"
      "main main"
      "footer footer";
  }
  h1{
    font-size: 7rem;
  }
  main{
    background-size: contain;
    background-position-x: center;
  }
}